/* Fonts */

@font-face {
    font-family: 'Brotherhood';
    src: url('fonts/Brotherhood.otf');
}

@font-face {
    font-family: 'Aadam';
    src: url('fonts/Aadam-regular.otf');
}

@font-face {
    font-family: 'Garamond';
    src: url('fonts/CormorantGaramond-Regular.ttf');
}


/* HTML */

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Garamond';
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Selection */

::selection {
    color: #fff;
    background: black;
}


/* Divisions */

.sign-in-page {
    display: flex;
    background-color: #413b3b;
    ;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.contact-us-page {
    display: flex;
    background-color: #413b3b;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.index-top {
    width: 100%;
    height: 100vh;
    /* background: url('../assets/2.jpg'); */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 2;
}

.sign-in {
    padding: 120px 120px !important;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.sign-up {
    -webkit-transform: translate3d(-900px, 0, 0);
    transform: translate3d(-900px, 0, 0);
}

.contact-us {
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.cont {
    overflow: hidden;
    position: relative;
    width: 900px;
    height: 550px;
    background: #fff;
    /* background: rgba(255, 255, 255, 0.7); */
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.sub-cont {
    overflow: hidden;
    position: absolute;
    left: 640px;
    top: 0;
    width: 900px;
    height: 100%;
    padding-left: 260px;
    background: #fff;
    /* background: rgba(255, 255, 255, 0.7); */
    -webkit-transition: -webkit-transform 1.2s ease-in-out;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
}

.cont.s-signup .sub-cont {
    -webkit-transform: translate3d(-640px, 0, 0);
    transform: translate3d(-640px, 0, 0);
}

.cont.s-signup .img:before {
    -webkit-transform: translate3d(640px, 0, 0);
    transform: translate3d(640px, 0, 0);
}

.cont.s-signup .img-text.m-up {
    -webkit-transform: translateX(520px);
    transform: translateX(520px);
}

.cont.s-signup .img-text.m-in {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.cont.s-signup .sign-in {
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-duration: 1.2s;
    transition-duration: 1.6s;
    -webkit-transform: translate3d(640px, 0, 0);
    transform: translate3d(940px, 0, 0);
}

.cont.s-signup .sign-up {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.cont.s-signup .img-btn span.m-in {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.cont.s-signup .img-btn span.m-up {
    -webkit-transform: translateY(72px);
    transform: translateY(72px);
}


/* Video Background */

video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}


/* Navitagion Bar*/

nav {
    font-family: 'Aadam' !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 10px 20px;
    box-sizing: border-box;
    font-size: 16px;
    /* background: rgba(0, 0, 0, 0.4); */
    background: none !important;
    /* font-size: 15px; */
    /* letter-spacing: 2px; */
    /* border-bottom: 1px solid #fff; */
}

nav .logo {
    padding: 18px 20px;
    height: 80px;
    float: left;
    font-size: 24px;
    /* font-weight: bold; */
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}

nav ul {
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    line-height: 60px;
}

nav ul li a {
    /* color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1); */
    padding: 12px 20px;
    text-decoration: none;
    /* font-weight: bold; */
    /* text-transform: uppercase; */
    color: black !important;
    text-shadow: none !important;
    background: rgba(255, 255, 255, 0.8);
}

nav ul li a:hover {
    /* border: 3px solid black; */
    text-decoration: underline;
    /* padding: 9px 17px !important; */
    /* background: rgba(59, 59, 59, 0.8); */
    color: black !important;
    /* border-radius: 6px; */
    background: rgba(255, 255, 255, 0.8);
}

nav ul li .btn {
    /* color: rgb(0, 0, 0);
    background: rgba(255, 255, 255, 0.8);
    text-shadow: none; */
    padding: 12px 20px;
    text-decoration: none;
    /* border-radius: 6px; */
    /* font-weight: bold; */
    /* text-transform: uppercase; */
    color: #fff !important;
    background: rgba(0, 0, 0, 0.8);
}

nav ul li .btn:hover {
    /* border: 3px solid black; */
    text-decoration: underline;
    /* padding: 9px 17px !important; */
    /* background: rgba(59, 59, 59, 0.8); */
    /* color: black !important; */
    /* border-radius: 6px; */
    /* background: rgba(255, 255, 255, 0.8); */
    color: #fff !important;
    background: rgba(0, 0, 0, 0.8);
}


/* Texts */

.title {
    float: left;
    color: #fff;
}

.title h1 {
    font-family: 'Brotherhood' !important;
    font-size: 280px;
    font-weight: lighter;
    line-height: 60%;
    text-shadow: 5px 5px rgba(0, 0, 0, 0.7);
    margin-left: 50px;
    margin-top: 325.5px;
    margin-bottom: 0px;
}

.title p {
    font-size: 20px;
    width: 60%;
    margin-left: 0px;
    margin-bottom: 0px;
    padding-top: 36px;
    padding-bottom: 35.5px;
    padding-right: 20px;
    padding-left: 13vh;
    box-sizing: border-box;
    background: rgba(34, 30, 29, 0.5);
    margin-top: -4%;
}

.title a {
    border: 2px solid white;
    padding: 9px 40px !important;
    text-decoration: none;
    /* background: rgba(59, 59, 59, 0.8); */
    color: white !important;
    border-radius: 3px;
}

.title a:hover {
    border: none !important;
    padding: 11px 42px !important;
    text-decoration: none;
    background: #efefef;
    color: #413b3b !important;
    font-weight: 600;
    border-radius: 3px;
}


/* align */


/* Forms */

input,
button {
    border: none;
    outline: none;
    background: none;
}

.form {
    position: relative;
    width: 640px;
    height: 100%;
    padding: 50px 30px;
    -webkit-transition: -webkit-transform 1.2s ease-in-out;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}

h2 {
    width: 100%;
    font-size: 30px;
    text-align: center;
}

label {
    display: block;
    width: 260px;
    margin: 25px auto 0;
    text-align: center;
}

label span {
    font-size: 14px;
    /* font-weight: 600; */
    color: black;
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
}

input {
    display: block;
    width: 100%;
    margin-top: 5px;
    font-size: 16px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
    text-align: center;
    font-family: 'Nunito', sans-serif;
}

input:active {
    background: none !;
}

textarea {
    display: block;
    width: 370px !important;
    /* text-align: ; */
    font-size: 16px;
    padding-bottom: 5px;
    border: 1px solid black;
    font-family: 'Nunito', sans-serif;
    background: none !important;
    resize: none;
    padding: 10px 10px;
}

textarea:active {
    display: block;
    width: 370px !important;
    /* text-align: ; */
    font-size: 16px;
    padding-bottom: 5px;
    border: 1px solid black;
    font-family: 'Nunito', sans-serif;
    background: none !important;
    resize: none;
    padding: 10px 10px;
}

input[type=submit] {
    width: 65% !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    text-transform: uppercase !important;
    background: #312d2c;
    font-family: 'Garamond' !important;
    padding-top: 5px;
    /* background: -webkit-linear-gradient(left, #7579ff, #b224ef); */
    display: block;
    margin: 0 auto;
    height: 36px;
    /* border-radius: 30px; */
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    border-radius: 3px;
}

input[type=submit]:hover {
    padding-top: 3px;
    font-size: 15px;
    color: black;
    border: 2px solid #312d2c;
    font-weight: 600;
    background: none;
    /* background: -webkit-linear-gradient(left, #b224ef, #7579ff); */
}

.forgot-pass {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: #0c0101;
    cursor: pointer;
}

.forgot-pass:hover {
    /* color: pink; */
    text-decoration: underline;
}

.social-media {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.social-media ul {
    list-style: none;
}

.social-media ul li {
    display: inline-block;
    cursor: pointer;
    margin: 25px 15px;
}

.social-media img {
    width: 40px;
    height: 40px;
}

.sign-up-consent {
    font-size: 13px !important;
    padding-left: none !important;
    padding-right: none !important;
}

.img {
    overflow: hidden;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 260px;
    height: 100%;
    padding-top: 360px;
    opacity: 0.5;
}

.img:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 900px;
    height: 100%;
    opacity: 0.5;
    background-size: cover;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}

.img:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #413b3b;
    /* rgb(239, 239, 239) */
    /* background: rgba(0, 0, 0, 0.9); */
}

.img-text {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    padding: 120px 20px;
    text-align: center;
    color: #fff;
    -webkit-transition: -webkit-transform 1.2s ease-in-out;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}

.img-text h2 {
    margin-bottom: 10px;
    font-weight: normal;
}

.img-text p {
    font-size: 16px;
    line-height: 1.5;
}

.img-text.m-in {
    -webkit-transform: translateX(-520px);
    transform: translateX(-520px);
}

.img-btn {
    overflow: hidden;
    z-index: 2;
    position: relative;
    width: 100px;
    height: 36px;
    margin: 0 auto;
    background: transparent;
    color: rgb(239, 239, 239);
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
}

.img-btn:after {
    content: '';
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 2px solid rgb(239, 239, 239);
    /* border-radius: 30px; */
    border-radius: 3px;
}

.img-btn:hover {
    color: #3d3d3d;
    font-weight: 1000;
    background-color: rgb(239, 239, 239);
    border-radius: 3px;
}

.img-btn span {
    position: absolute;
    left: 0;
    top: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform 1.2s;
    transition: -webkit-transform 1.2s;
    transition: transform 1.2s;
    transition: transform 1.2s, -webkit-transform 1.2s;
    ;
}

.img-btn span.m-in {
    -webkit-transform: translateY(-72px);
    transform: translateY(-72px);
}


/* Responsive layout */