@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: sans-serif;
}

.wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 1000px;
  display: flex;
  box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
}

.wrapper .left{
  width: 25%;
  background: #413b3b;
  padding: 30px 25px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  color: #fff;
  }

.wrapper .left img{
  border-radius: 5px;
  margin-bottom: 10px;
  width: 200px;
  height: 200px;
}

.wrapper .left h3{
  margin-bottom: 10px;
  font-weight: bold;
}

.wrapper .left p{
  font-size: 12px;
}

.wrapper .right{
  width:70%;
  background: #fff;
  padding: 30px 20px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.wrapper .right .info,
.wrapper .right .projects{
  margin-bottom: 25px;
}

.wrapper .right .info h3,
.wrapper .right .projects h3{
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
    color: #353c4e;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
}
.wrapper .right .info .info_data h4{
	font-weight: bold;
}

.wrapper .right .info_data{
  display: flex;
}

.rwd-table {
  margin: auto;
  min-width: 200px;
  max-width: 1000px;
  border-collapse: collapse;
}

.rwd-table tr:first-child {
  border-top: none;
  background: #312d2c;
  color: #fff
}

.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: white;
}

.rwd-table tr:nth-child(odd):not(:first-child) {
  background-color: #f2f3f4;
}

.rwd-table th {
  display: none;
}

.rwd-table td {
  display: block;
}

.rwd-table td:first-child {
  margin-top: .5em;
}

.rwd-table td:last-child {
  margin-bottom: .5em;
}

.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 120px;
  display: inline-block;
  color: #000;
}

.rwd-table th,
.rwd-table td {
  text-align: left;
}

.rwd-table {
  color: #333;
  border-radiuds: .4em;
  overflow: hidden;
}

.rwd-table tr {
  border-color: #bfbfbf;
}

.rwd-table th,
.rwd-table td {
  padding: .5em 1em;
}
@media screen and (max-width: 601px) {
  .rwd-table tr:nth-child(2) {
    border-top: none;
  }
}
@media screen and (min-width: 600px) {
  .rwd-table tr:hover:not(:first-child) {
    background-color: #d3d3d3;
  }
  .rwd-table td:before {
    display: none;
  }
  .rwd-table th,
  .rwd-table td {
    display: table-cell;
    padding: .25em .5em;
  }
  .rwd-table th:first-child,
  .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child,
  .rwd-table td:last-child {
    padding-right: 0;
  }
  .rwd-table th,
  .rwd-table td {
    padding: 1em !important;
  }

.wrapper .right .projects a{
color: black;}

.wrapper .right .projects a:hover{
	color:	#f2f2f2;
}

.wrapper .left button{
    margin-left: 0;
    margin-right: 0;
    background-color: #312d2c;
	color: white;
}

.wrapper .left button:hover{
	background-color: #656565;
	color: white;
}

}